body {
    margin: 0;
}
.main-header {
    display: flex;
    justify-content: space-between;
    background-color: lemonchiffon;
    height: 100px;
    margin: 20px;
    flex-direction: row;
    margin-bottom: 40px;
}

h1 {
    align-items: center;
    display: flex;
    padding: 30px;
    max-width: max-content;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    background-color: lightpink;
  }

.headernav {
    flex-wrap: wrap;
    background-color: wheat;
    display: flex;
    width: 100%;    
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-left: 0;
    flex-direction: row;
}

a {
    text-decoration: none;
    font-weight: 200;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* main section including image, header and paragraph*/

.intro-container {
    display: flex;
    margin: 20px;
    height: 500px;
    background-color: beige;
    flex-direction: row;
    align-items: center;
}



#kelsie-szost {
    display: flex;
    margin-left: 300px;
}

.layout-content {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

#about-me {
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#about-me-paragraph {
    align-items: center;
    max-width: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    line-height: 25px;
}

/*Work Section*/

#website-work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.website-work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lemonchiffon;
    margin: 30px;
}

.xibitz-image {
    padding: 20px;
}


#xibitz-website {
    display: flex;
    font-weight: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.website-work-paragraph {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 70%;
    font-weight: 200;
    line-height: 30px;
}

/*bottom two boxes*/

#boxes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    background-color: beige;
    margin-top: 40px;
    max-width: 100%;
}

.boxes {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    max-width: 100%;
}

.apps-image {
    display: flex;
    justify-content: flex-start;
}

.phone-image {
    display: flex;
    justify-content: flex-end;
}



h3 {
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 25px;
}

/*footer section*/

.footer {
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    height: 100px;
    margin: 20px;
    flex-direction: row;
}

#footernav {
    background-color: wheat;
    display: flex;
    width: 100%;    
    align-items: center;
    justify-content: space-evenly;
}

h4 {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: black;
    font-weight: 300;
    align-items: center;
    margin-left: 25px;
    background-color: lemonchiffon;
}

a {
    text-decoration: none;
    font-weight: 200;
}

li {
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 768px) {
    .intro-container {
        flex-direction: column;
        align-items: center;  
        height: auto;
    }
    .layout-content {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    #kelsie-szost {
        margin: auto;
    }
    #boxes-container {
        flex-direction: column;

    }
    .boxes {
        flex-direction: column;
    }
    h3 {
        float: right;
    }
    .nav-menu {
        flex-direction: column;

    }
    .footer {
        flex-direction: column;
        
    }
  li {
    flex-direction: row;
  }

  .a {
    max-width: 100%;
    flex-direction: column;
    justify-content: baseline;
  }

#footernav {
    max-width: 100%;
}
.headernav{
    max-width: 100%;
}
}

