body {
    margin: 0;
}
.main-header {
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    height: 100px;
    margin: 20px;
    flex-direction: row;
}

h1 {
    align-items: center;
    display: flex;
    padding: 30px;
    max-width: max-content;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headernav {
    flex-wrap: wrap;
    background-color: wheat;
    display: flex;
    width: 40%;    
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-left: 0;
    flex-direction: row;
}

a {
    text-decoration: none;
    font-weight: 200;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* main section including image, header and paragraph*/

.intro-container {
    display: flex;
    margin: 20px;
    height: 500px;
    background-color: beige;
    flex-direction: row;
    align-items: center;
}

img {
    display: flex;
    margin-left: 200px;
}

.layout-content {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

h2 {
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    align-items: center;
    max-width: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    line-height: 25px;
}

/* bottom three boxes*/

.boxes-container {
    max-width: 1400px;
    margin: 10px auto 0 auto;
}

.boxes {
    padding: 20px;
    flex-basis: 30%;
    box-sizing: border-box;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 900px) {
    .boxes-container {
        display: flex;
        justify-content: space-between;  
    }
}

.box-one {
    background-color: lightblue;
}

.box-two {
    background-color: pink;
}

.box-three {
    background-color: lightgreen;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    height: 100px;
    margin: 20px;
    flex-direction: row;
}

.footernav {
    flex-wrap: wrap;
    background-color: wheat;
    display: flex;
    width: 40%;    
    align-items: flex-end;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-left: 0;
    flex-direction: row;
    margin-right: 80px;
}

a {
    text-decoration: none;
    font-weight: 200;
}