body {
    margin: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    margin: 20px;
    padding: 20px;
}

a.nav-link {
    margin: 20px;
    padding-left: 20px;
}

.container {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    text-decoration: none;
    margin: 30px;
    margin-left: 20px;
    margin-right: 20px;
}


a:hover {
    background-color: white;
  }

  footer.text-center.text-lg-start.text-black {
   background-color: lightsteelblue;
   padding: 20px;
  }

  section.mb-4.text-center {
    background-color: white;
    padding: 20px;

  }

  a.btn.btn-outline-light.btn-floating.m-1 {
    background-color: lightsteelblue;
  }

div.container.my-5 {

}



